<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>agregando estilo Mercado Liebre</title>
    <!--acceso a Css-->
    <link rel="stylesheet" href="/css/home.css">

<!-- acceso a tipo de letra robote-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<!--font wesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<body>
    <header> 
        <img id="logo" src="/images/logo-mercado-liebre.svg" alt="">

        <div class="busqueda">
            <input type="text" placeholder="buscar producto,marca">
        </div>
        <button class="icono busquedad">
    <i class="fas fa-search"></i>
</button>


        <p>compra en cuotas y sin tarjeta de credito</p>

        <nav>
            <ul class="menu">
         <li> <a href="">ofertas</a></li>
         <li> <a href="">tiendas oficialess</a></li>
        <li> <a href="">vender</a></li>
         <li> <a href="">ayuda</a></li>
            </ul>
            </nav>
            <nav>
            <ul>
         <li> <a href="">creá tu cuenta<i class="fas fa-credit-card"></i> </a> </li>
         <li> <a href="">ingresá<i class="fas fa-sign-in-alt"></i></a></li>
         <li><a href="">mís compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="menu-burgur"> 
            <i class="fa-solid fa-bars"></i>
        </div>

    </header>
    <main>
<section>


    <h3>Basado en tu última visita</h3>
    <article>
        <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
<p>$6770</p>
<p>40% OFF</p>
<strong>Cafetera Moulinex</strong>
</article>

<article>
    <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="macbook">
    <p>$230.000</p>
    <p>20% off</p>
    <strong>MacBook Pro 2019</strong>
</article>

    <article>
        <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
<p>$70.500</p>
<p>10% off</p>
<strong>Samsung Galaxy S10</strong>
</article>

    <article>
        <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="smarTv">
<p>$23.200</p>
<p>5% OFF</p>
<strong>SmartTv Samsung 43"</strong>
</article>
</section>


<section>
<h3>Sección de Ofertas</h3>
<article>
    <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
<p>$6770</p>
<p>40% OFF</p>
<strong>Cafetera Moulinex</strong>
</article>

<article>
<img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="macbook">
<p>$230.000</p>
<p>20% off</p>
<strong>MacBook Pro 2019</strong>
</article>

<article>
    <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
<p>$70.500</p>
<p>10% off</p>
<strong>Samsung Galaxy S10</strong>
</article>

<article>
    <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="smarTv">
<p>$23.200</p>
<p>5% OFF</p>
<strong>SmartTv Samsung 43"</strong>
</article>
</section>
    </main>

    <footer>
        <article>
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>

        <article>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </article>

        <article>
            <i class="fas fa-user-shield"></i>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <p id="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
