:root{
     /*------------Colores---------*/
     --color-Amarillo : #EAC926;
     --color-Azul: #03264C;
     --color-Celeste: #1259c3;
     --color-Grisoscuro: #666;
     --coloor-Grisclaro: #ebebeb;
     --color-Verde: #39b54a;
     /*-----------Tipo de fuente------*/
     --font-Roboto : 'Roboto', sans-serif;
     
     /*-----------Tamaño De Fuente-------*/
     --prince : 18px;
     --paragraph : 12px;
     --title : 24px;
     --discounts-descriptions : 16px;
     }
/*--------------------------------------------------------------/
/*--------------------------Estilos General-----------------------*/
/*----------------------------------------------------------------*/

*{
margin: 0;
padding: 0;
}

a{
    color: black;
    text-decoration: none;
}

body {
    font-family: var(--font-Roboto);

}
li {
    list-style: none;
}

/*---------------------------------------------------------------------*/
/*------------------------Fin de Estilos Gnerales---------------------*/
/*--------------------------------------------------------------------*/


/*-------------------------------------------------------------------*/
/*----------------------------Header--------------------------------*/
/*------------------------------------------------------------------*/

header img#logo{
    width: 140px;
    margin-left: 25px;
}

header{
    background-color: var(--color-Amarillo);
    font-size: var(--paragraph);
    padding-bottom: 10px;
    padding-top: 20px;
}
header .menu-burgur {
    background-color: var(--color-Celeste);
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 20px;
    font-size: 15px;
    margin: 10px auto 0;
}

header .busqueda {
    margin-left: 25px;
}
header button {
    margin-left: 25px;
}


header p {
    margin-left: 15px;
    margin-bottom: 15px;

text-align: center;
 }

 header nav .menu {
     margin-bottom: 15px;

 }

/*-------------------------------------------------------------------*/
/*------------------------FIN Header--------------------------------*/
/*------------------------------------------------------------------*/

/*-------------------------------------------------------------------*/
/*----------------------------Fotter--------------------------------*/
/*------------------------------------------------------------------*/

footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

footer article {
    margin-bottom: 25px;
}

footer article{
    font-size: var(--paragraph);
    width: 80%;
    margin: 0 auto;
}

footer article h4 {
    font-size: 14px;
}

footer article i {
    color: var(--color-Celeste);
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
 }

 footer p#copy{
     font-size: var(--paragraph);
     color: var(--color-Grisoscuro);
     text-align: left;
     padding-left: 15px;
  margin-top: 25px;
 }
